@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #3EEAE3, #2CD49F);
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #115540;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{text-align: center;
    color: #1c067c;
    text-shadow: 1px 1px 2px #1c067c;

}
h2 {
    color: #e29734;

}

p {
    text-align: justify;
}