@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');

body{
    background-color: #ADD9D1;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: #027373;
}

#principal {
    color: #027373;
    text-align: center;
    font-family:'Rubik Burned', system-ui, sans-serif;
    font-size: 4em;
    background-color: #639185;

}

h2{
    color: #4b9789;
}
.basico{
    color:chocolate;
}
.intermediario{
    color: rgb(110, 56, 17);
}

.avancado{
    color: rgba(210, 36, 30, 0.562)

}